In [4]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

import pycaret

In [ ]:
koch = pd.read_csv("koch.csv")

:

In [11]:
# Convert all values to numeric, coercing errors to NaN
koch['PLANNED_DELIVERY_DAYS'] = pd.to_numeric(koch['PLANNED_DELIVERY_DAYS'], errors='coerce')

# Drop rows with NaN in 'PLANNED_DELIVERY_DAYS'
koch.dropna(subset=['PLANNED_DELIVERY_DAYS'], inplace=True)

# Optionally, convert 'PLANNED_DELIVERY_DAYS' to int if you're sure they're all integers
koch['PLANNED_DELIVERY_DAYS'] = koch['PLANNED_DELIVERY_DAYS'].astype(int)

In [22]:
koch['TARGET'] = koch['FIRST_GR_POSTING_DATE']-koch['DELIVERY_DATE']

In [24]:
koch.columns

Index(['Unnamed: 0', 'PURCHASE_DOCUMENT_ID', 'CREATE_DATE', 'COMPANY_CODE_ID',
       'VENDOR_ID', 'POSTAL_CD', 'RELEASE_DATE', 'PURCHASE_DOCUMENT_ITEM_ID',
       'MATERIAL_ID', 'SUB_COMMODITY_DESC', 'MRP_TYPE_ID', 'MRP_TYPE_DESC_E',
       'SHORT_TEXT', 'PLANT_ID', 'POR_DELIVERY_DATE', 'FIRST_GR_POSTING_DATE',
       'DELIVERY_DATE', 'REQUESTED_DELIVERY_DATE', 'INBOUND_DELIVERY_ID',
       'INBOUND_DELIVERY_ITEM_ID', 'PLANNED_DELIVERY_DAYS',
       'BI_LAST_UPDATED_PURCHASE_DOCUMENT_ITEM', 'TARGET'],
      dtype='object')

In [39]:
koch1 = koch.filter(['PURCHASE_DOCUMENT_ID', 'CREATE_DATE', 'COMPANY_CODE_ID',
       'VENDOR_ID', 'POSTAL_CD', 'RELEASE_DATE', 'PURCHASE_DOCUMENT_ITEM_ID',
       'MATERIAL_ID', 'SUB_COMMODITY_DESC', 'MRP_TYPE_ID', 'MRP_TYPE_DESC_E',
       'SHORT_TEXT', 'PLANT_ID', 'POR_DELIVERY_DATE', 'FIRST_GR_POSTING_DATE',
       'DELIVERY_DATE', 'REQUESTED_DELIVERY_DATE', 'INBOUND_DELIVERY_ID',
       'INBOUND_DELIVERY_ITEM_ID', 'PLANNED_DELIVERY_DAYS',
       'BI_LAST_UPDATED_PURCHASE_DOCUMENT_ITEM', 'TARGET'])

In [40]:
koch1 = koch1.dropna(subset=['TARGET','FIRST_GR_POSTING_DATE','DELIVERY_DATE'])

In [41]:
from pycaret.regression import *

# Assuming 'koch' is your DataFrame and 'TARGET' is your continuous target variable
s = setup(koch1, target='TARGET', session_id=123)

In [42]:
best = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .                 11:25:22
Status     . . . . . . . . . . . . . . . . . .         Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Regressor

Processing:   0%|          | 0/77 [00:00<?, ?it/s]

:

In [29]:
exp.setup(data, target = 'species', session_id = 123)

pycaret.classification.oop.ClassificationExperiment

In [13]:
def convert_csv_to_parquet(input_file_path, output_file_path):
    # Read CSV file into a Pandas DataFrame
    df = pd.read_csv(input_file_path)
    
    # Convert Pandas DataFrame to PyArrow Table
    table = pa.Table.from_pandas(df)

    # Write PyArrow Table to Parquet file
    pq.write_table(table, output_file_path)

# Input and output file paths
input_file_path = 'koch1.csv'
output_file_path = 'koch.parquet'

# Call the function
convert_csv_to_parquet(input_file_path, output_file_path)

In [14]:
import pyarrow.parquet as pq

# Path to your Parquet file
parquet_file_path = 'koch.parquet'

# Load the Parquet file into a PyArrow Table
table = pq.read_table(parquet_file_path)

# Print the PyArrow Table
print(table)

OSError: Could not open Parquet input source 'koch.parquet': Couldn't deserialize thrift: TProtocolException: Invalid data